.about-wrapper {
  padding:50px;
  margin:auto;
  
}

.project-container {
  display: flex;
  width:70vw;
  margin:auto;
  margin-top: 5%;
  .right {
    display:flex;
    flex-direction:column;
    margin-left: 40px;
    justify-content: center;
    align-item:center;
    font-size:16px;
    p{
      line-spacing:1.8;
    }
    
  }
}

.team-members {
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #041121;
  width: 300px;
  height: 150px;
  background: #ffffff;
  margin:10px;
}

.teamdesc {
   margin-top: 5%;
  display:flex;
  justify-content:center;
}

.team-grid {
  display:flex;
  justify-content:center;
}