/* how do i align right again ;u;*/
.NavbarItems {
  background: #F2F0EB;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  color: #041121;
  border-bottom: 2px solid #ccc;
  active-color: #041121;

  .navbar-logo {
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    color: #041121;
    justify_self: start;
    float: left;
    position: absolute;
    left: 2%;
    text-decoration: none;
  }

  .nav-menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: right;
    width: 25vw;
    justify-conten: end;
    margin-right: 2rem;
    justify-content: space-between;
    position: absolute;
    right: 2%;
  }

  .nav-links {
    color: #041121;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: bold;
  }

  .nav-links:hover {
    background-color: #cfcdc8;
    border-radius: 8px;
    transition: all 0.2s ease-out;
  }

  .NavbarItems--active:after {
     background: #bb7939;
     height: 2px;
     width: 100px;
  }

  /* drop down buttn*/
  .logbtn {
    color: #041121;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }

  .login {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #F2F0EB;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .login:hover .dropdown-content {
    display: block;
  }

  .login:hover .logbtn {
    background-color: #cfcdc8;
    border-radius: 16px;
    transition: all 0.2s ease-out;
  }

  .dropdown-content a:hover {
    background-color: #cfcdc8;
  }
}